.slide-in-bottom{animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-bottom{0%{transform:translateY(100px);opacity:0}100%{transform:translateY(0);opacity:1}}

.slide-in-bottom-2{animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) 1s both}
@keyframes slide-in-bottom-2{0%{transform:translateY(100px);opacity:0}100%{transform:translateY(0);opacity:1}}

.slide-in-bottom-3{animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) 1.5s both}
@keyframes slide-in-bottom-3{0%{transform:translateY(100px);opacity:0}100%{transform:translateY(0);opacity:1}}

.slide-in-bottom-4{animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) 2s both}
@keyframes slide-in-bottom-4{0%{transform:translateY(100px);opacity:0}100%{transform:translateY(0);opacity:1}}



.slide-in-top{animation:slide-in-top 1s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-top{0%{transform:translateY(-100px);opacity:0}100%{transform:translateY(0);opacity:1}}

.slide-in-left{animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-left{0%{transform:translateX(-100px);opacity:0}100%{transform:translateX(0);opacity:1}}


.scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}


.fade-in{animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
