section.banner {
    background-image: url(../../images/Shark.jpg);
    height: 50vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    color: white;
    font-size: 76px;
    background: linear-gradient(90deg, rgba(85,189,239,1) 0%, rgba(85,239,196,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner p {
    color: #ffffffb5;
    font-size: 27px;
}

a.btn-primary {
    color: white;
    text-decoration: none;
    background: #55efc4;
    font-size: 14px;
    line-height: 18px;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
}


@media screen and (max-width: 576px){
  .banner-info {
    padding: 30px;
}
.banner h1 {
    color: white;
    font-size: 40px;
}
}

